* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  background-color: #2c3846;
  width: 100%;
  min-height: 80px;
  position: fixed;
  z-index: 5;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navItem {
  display: inline-block;
  color: #fff;
}

.navItem a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 0 25px;
}

.navItem:last-child a {
  padding-right: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.slideshow {
  width: 100%;
  position: relative;
  margin: 0;
}

.slideshow img {
  width: 100%;
}

.dot {
  position: absolute;
  text-align: center;
  width: 90%;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.dotItem {
  height: 15px;
  width: 15px;
  margin-left: 10px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.text-box {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.text-box h1 {
  font-size: 64px;
}

.text-box p {
  margin-top: 10px;
  font-size: 24px;
}

/*----------Games------------*/
.games {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 100px;
}

.games h2 {
  padding-top: 70px;
  padding-left: 50px;
  color: #333333;
  font-size: 44px;
}

.gameMenu {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 30px;
  gap: 20px 20px;
}

.menuItem {
  display: inline-block;
  color: #666666;
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f2f7ff;
  transition: 0.5s;
  border: none;
}

.menuItem:hover {
  color: #fff;
}

.gameImg {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-left: 60px;
  align-content: space-between;
  gap: 50px 50px;
}

.gameCard {
  position: relative;
  cursor: pointer;
}

.gameCard img {
  border-radius: 10px;
}

.gameCard p {
  text-align: center;
}

.play-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.gameCard img:hover {
  opacity: 0.5;
}

.gameCard img:hover + .play-text {
  opacity: 1;
  transition: 0.2s ease;
}

/*-------------------About---------------------*/
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 100px;
}

.about-us {
  position: relative;
  background-color: #2c3846;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
}

.about-text {
  color: #fff;
  padding-top: 50px;
  padding-left: 120px;
}

.about-text h2 {
  font-size: 44px;
  padding-bottom: 20px;
}

.about-text p {
  font-size: 18px;
}

.about-img {
  position: absolute;
  right: 200px;
  width: 200px;
  height: 200px;
  bottom: 100px;
  transition: 0.5s;
}

/* .about-img:hover {
  top: -8em;
} */

/*--===========================---*/

.gamePopup {
  position: fixed;
  display: none;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(158, 135, 135);
  border-radius: 10px;
  column-gap: 20px;
  padding: 10px;
  width: 1000px;
  height: 440px;
  background-color: #fff;
}

.popImg img {
  width: 500px;
  padding: 30px 20px;
}

.popText {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.gameTitle h3 {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
}
.gameTitle p {
  color: #3366cc;
  font-size: 16px;
  font-weight: 500;
}

.gameInfo {
  padding-top: 30px;
  padding-bottom: 40px;
  color: #333333;
  font-size: 18px;
  line-height: 27px;
}

.popText button {
  background-color: #3366cc;
  border-radius: 10px;
  width: 150px;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.popText button:focus {
  outline: none;
}

.popText button {
  border: none;
}

.popText button a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/*------testimonials-----------*/
.testimonialreview {
  background-color: #fff;
  position: relative;
  height: 600px;
}

.testimonialreview h2 {
  font-size: 44px;
  text-align: left;
  margin-left: 120px;
  margin-top: 20px;
  color: #333333;
}

.reviewImg {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.reviewtext {
  position: relative;
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  color: #666666;
}

.reviewname {
  color: #333333;
  padding-bottom: 10px;
}

/*--------footer-------------*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2c3846;
  padding: 10px;
  border-top: 1px solid rgb(255, 255, 255);
}

.footer .links {
  margin-top: 40px;
  padding-left: 0px;
}

.item {
  display: inline;
  margin-left: 20px;
}

.social-items:hover {
  background-color: blue;
}

.footer-text {
  color: #fff;
  margin-top: 30px;
}
